apiVersion: v1
kind: ConfigMap
metadata:
  name: $TEST_AWS_CREDENTIALS_NAME
data:
  AWS_ACCESS_KEY_ID: $ACCESS_KEY_ID
  AWS_SECRET_ACCESS_KEY: $SECRET_ACCESS_KEY
  AWS_SESSION_TOKEN: $SESSION_TOKEN
  AWS_REGION: $AWS_REGION